@import './assets/style/colors.scss';
@import './assets/style/fontawesome.css';
@import './assets/style/style.scss';
@import './assets/style/variables.scss';

.App {
  font-family: Avenir, "Helvetica Neue", Arial, sans-serif;
  height: 100%;
  .main {
    display: flex;
    max-height: calc(100vh - 30px);
    max-width: 100%;
    padding-top: $headerHeight;
    position: relative;
    width: 100%;
    .mainContainer {
      flex: 1 1 auto;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      padding: 2rem 2rem 3rem 2rem;
      position: relative;
    }
  }
  .modal-open.modal {
    height: calc(100vh - 200px);
  }

  .nav {
    transition: width 0.1s ease-out;
    width: 0;
    height: 100vh;
    box-sizing: border-box;
    border: 1px solid #eee;
    overflow-y: auto;
    left: 0;
    background: #fff;
    padding-top: $headerHeight;
    &.open {
     width: 210px;
    }
  }
}

.rightPanel {
 // z-index: auto;
  top: 48px;
}

/* Set toastr z-index higher than header */
#toast-container {
  position: fixed;
  z-index: 9999999999999;
  /*overrides*/
}

.toggleRightPanel {
  position: absolute;
  top: 80px;
  left: 0px;
  z-index: 9999999999999999999999;
}
