@import '~@fluentui/react/dist/sass/References';

//fs - font size
.fs-68 {font-size: $ms-font-size-68;}
.fs-42 {font-size: $ms-font-size-42;}
.fs-32 {font-size: $ms-font-size-32;}
.fs-28 {font-size: $ms-font-size-28;}
.fs-24 {font-size: $ms-font-size-24;}
.fs-20 {font-size: $ms-font-size-20;}
.fs-18 {font-size: $ms-font-size-18;}
.fs-16 {font-size: $ms-font-size-16;}
.fs-14 {font-size: $ms-font-size-14;}
.fs-12 {font-size: $ms-font-size-12;}
.fs-10 {font-size: $ms-font-size-10;}