// Import Main styles for this application
@import './colors.scss';

.flex                { display: flex; }
.flex-important      { display: flex!important; }
.flex-row            { flex-direction: row; }
.flex-column         { flex-direction: column; }
.flex-row-reverse    { flex-direction: row-reverse; }
.flex-column-reverse { flex-direction: column-reverse; }

.flex-wrap         { flex-wrap: wrap; }
.flex-nowrap       { flex-wrap: nowrap; }
.flex-wrap-reverse { flex-wrap: wrap-reverse; }
.flex-fill         { flex: 1 1 auto; }
.flex-grow-0       { flex-grow: 0; }
.flex-grow-1       { flex-grow: 1; }
.flex-shrink-0     { flex-shrink: 0; }
.flex-shrink-1     { flex-shrink: 1; }

.justify-content-start   { justify-content: flex-start; }
.justify-content-end     { justify-content: flex-end; }
.justify-content-center  { justify-content: center; }
.justify-content-between { justify-content: space-between; }
.justify-content-around  { justify-content: space-around; }

.align-items-start    { align-items: flex-start; }
.align-items-end      { align-items: flex-end; }
.align-items-center   { align-items: center; }
.align-items-baseline { align-items: baseline; }
.align-items-stretch  { align-items: stretch; }

.align-content-start   { align-content: flex-start; }
.align-content-end     { align-content: flex-end; }
.align-content-center  { align-content: center; }
.align-content-between { align-content: space-between; }
.align-content-around  { align-content: space-around; }
.align-content-stretch { align-content: stretch; }

.align-self-auto     { align-self: auto; }
.align-self-start    { align-self: flex-start; }
.align-self-end      { align-self: flex-end; }
.align-self-center   { align-self: center; }
.align-self-baseline { align-self: baseline; }
.align-self-stretch  { align-self: stretch; }

code {
  color: $primary;
}

.w100 { width: 100%; }
.mb0  { margin-bottom: 0px}
.mb10 { margin-bottom: 10px}
.mb15 { margin-bottom: 15px}
.mb30 { margin-bottom: 30px}
.mt10 { margin-top: 10px}
.mt15 { margin-top: 15px}
.mt30 { margin-top: 30px}

.h100 {
  height: calc(100vh - 90px);
}
.fullWidth {
  width: 100%;
}

.text-center { text-align: center;}

.mt-0 {margin-top: 0px;}
.mt-5 {margin-top: 5px;}
.mt-10 {margin-top: 10px;}
.mt-15 {margin-top: 15px;}
.mt-20 {margin-top: 20px;}

.mb-0 {margin-bottom: 0px;}
.mb-5 {margin-bottom: 5px;}
.mb-10 {margin-bottom: 10px;}
.mb-15 {margin-bottom: 15px;}
.mb-20 {margin-bottom: 20px;}

.pl-5 {padding-left: 5px;}
.pl-10 {padding-left: 10px;}
.pl-15 {padding-left: 15px;}
.pl-20 {padding-left: 20px;}

.pr-5 {padding-right: 5px;}
.pr-10 {padding-right: 10px;}
.pr-15 {padding-right: 15px;}
.pr-20 {padding-right: 20px;}
