@import './colors.scss';

.bx--tab-content {
  background: #fff;
}
.bx--tabs--container .bx--tabs__nav-item--selected:not(.bx--tabs__nav-item--disabled) .bx--tabs__nav-link, .bx--tabs--container .bx--tabs__nav-item--selected:hover:not(.bx--tabs__nav-item--disabled) .bx--tabs__nav-link {
  background: #fff;
}
.bx--label {
  font-size: 0.8rem;
}
.bx--side-nav__item {
  margin-bottom: 0;
}
.bx--btn--primary {
  background-color: $primaryButton ;
}
.bx--btn--primary:hover {
  background-color: $primaryButtonAction ;
}
.bx--btn--primary:focus {
  border-color: $primaryButtonAction ;
  box-shadow: inset 0 0 0 2px $primaryButtonAction, inset 0 0 0 3px #ffffff;
  background-color: $primaryButtonAction;

}
.bx--btn--secondary {
  background-color: $secondaryButton;
}
.bx--btn--secondary:hover {
  background-color: $secondaryButtonAction;
}
.bx--btn--secondary:focus {
  border-color: $secondaryButtonAction;
  box-shadow: inset 0 0 0 2px $secondaryButtonAction, inset 0 0 0 3px #ffffff;
  background-color: $secondaryButtonAction;
}
.bx--btn--tertiary {
  border-color: $primaryButton;
  color: $primaryButton;
}
.bx--btn--tertiary:hover {
  background-color: $primaryButtonAction;
}
.bx--btn--tertiary:focus {
  border-color: $primaryButton;
  box-shadow: inset 0 0 0 2px $primaryButton, inset 0 0 0 3px #ffffff;
  background-color: $primaryButton;
}
.bx--side-nav__submenu:focus {
  outline: 2px solid $primaryButton;
  outline-offset: -2px;
}

.bx--overflow-menu:focus {
  outline: 2px solid $primaryButton;
}

.bx--overflow-menu-options__btn:focus {
  outline: 2px solid $primaryButton;
}

.bx--loading__stroke {
  stroke: $primaryButton;
  stroke-dashoffset: 40;
}

.bx--content {
  background-color: $gray-10;
  height: 100%;
}

.bx--pagination {
  overflow-y: hidden;
  overflow-x: auto;
}