@import '../../assets/style/colors';

.goBackButton {
  font-size: 30px;
  position: absolute;
  left: 10px;
  top: 20px;
  cursor: pointer;
  color: $gray;
  &:hover {
    color: $grayDark;
  }
  &:active, &:focus {
    color: $primary;
  }
}
