pre{
  white-space: pre-wrap;
}

.debugTitle{
  text-align: center;
  margin: 20px 0px 20px 0px;
}

.debugPanel{
  right: 340px;
  top: 48px;
}

.logItem{
  width: 100%;
  margin-top: 2px;
  border:none;
  border-bottom:1px solid ;
}