.folderBtn {
  width: 100%;
  background: #FFFFFF;
  color: #565656;
  text-align: left;
  border-bottom: 0.5px solid #00000063;

  .icon-m {
    margin-right: 10px;
  }
}


.path {
  font-size: 12px;
  position: absolute;
  left: 35px;
  text-align: left;
}

.backArrow {
  //color: #1e88e5;
  //margin: 0px 0px 0px 10px;
  //font-size: 22px;
  font-size: 22px;
  color: #1e88e5;
  display: inline-block;
  padding: 0 12px;
  height: 100%;
  margin: 0 0 0 4px;
  border: none;
  border-radius: 0;
  vertical-align: baseline;
  vertical-align: initial;
  line-height: 56px;
}

.pageWrapper{
  text-align: center;
}