.folderBtn {
  width: 100%;
  background: #FFFFFF;
  color: #565656;
  text-align: left;
  border-bottom: 0.5px solid #00000063;

  .icon-m {
    margin-right: 10px;
  }
}


.path {
  font-size: 12px;
  position: absolute;
  left: 35px;
  text-align: left;
}