.displayed {
  display: block !important;
}

.project-property-name {
  font-size: 16px;
  margin: 20px 0px 5px 10px;

}

.project-property {
  font-size: 14px;
  margin: 0px 0px 5px 10px;
}

.property-qr {
  text-align: center;
  margin: 10px 0px 10px 0px;
}

.no-project{
  text-align: center;
}