.centerSection{
  text-align: center;
  margin-top: 25px;

  .input-margin{
    margin: 10px 0px 10px 0px;
  }

  .text-bottom-margin{
    margin-bottom: 25px;
  }
}

.loginBtn{
  margin-top:10px
}

.iconMargin{
  margin-right: 10px;
}
