
.requests-wrapper {
  padding: 0px;

  .no-requests {
    margin-bottom: 5px;
    opacity: 0.8;
  }

  .requests-list {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px;
    height: 265px;

    .request {
      padding: 0px;

      .text-wrapper {
        word-wrap: break-word;
        word-break: break-all;
      }
    }
  }

}

.dialog-div {
  text-align: center;
  margin: 42px;

  .message {
    opacity: 0.8;
    color: #E12200;
  }

}

.logout{
  position: absolute;
  bottom: 0;
  background-color: white;
  border-top: 1px solid #d9dfe4;
}