@import '../../assets/style/colors.scss';

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: $primary;
  z-index: 1;
  align-items: center;
  .leftPanelToggle {
    font-size: 50px;
	height: 50px;
	width: 50px;
    margin-left: 5px;
    color: $gray;
    cursor: pointer;
    &:hover {color: #fff;}
  }
  headerContainer {
    width: 100%;
  }
  img {
    width: 40px;
    cursor: pointer;
  }
  .navbar-nav {
    align-items: flex-end;
  }
}

.info-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
}

.info-bar-drop {
  position: relative;
}
